@model CellModel;

@if (Model.IsMotionPlayer && Model.IsWinner && Model.CellText == "")
{
	<button class="Cells" name="idPole" value=@Model.CurrenId asp-action="Game"></button>
}
else
{
	<code>@Model.CellText</code>
}