@model GameDataModel;
@{
	ViewData["Title"] = "Игра в крестики нолики";
}
@using Homework.HtmlHelpers

<style type="text/css">
	button {
		margin-left: 5px;
	}
</style>

<div class="text-center">
	<h1 class="display-4">
		Привет @Model.NameСurrentРlayer
		@if (Model.WinnerРlayer != "")
		{
			@await Html.PartialAsync("FinishGame")
		}
		else if (Model.IsРlayer)
		{
			<br /> @Html.WhoseMove(Model)
		}
	</h1>
	<form method="post" asp-area="" asp-controller="Home">
		@await Html.PartialAsync("Field",@Model.FieldGame)
	</form>
	<h1 class="display-4">
		@Model.WinnerРlayer
	</h1>
	<form method="get" asp-area="" asp-controller="Home">
		<component type="typeof(Homework.Components.ControlButtons)" render-mode="Static" param-dataModel="Model" />
	</form>
</div>
