@model GameDataModel
@{
	ViewData["Title"] = "Игра в крестики нолики";
}
@using Homework.HtmlHelpers

<div class="text-center">
	<h1 class="display-4">
		Привет @Html.ShowPlayrName(Model)
		@if (!Model.IsMove)
		{
			@await Html.PartialAsync("FinishGame")
		}
	</h1>
	<form method="post" asp-area="" asp-controller="Home">
		@await Html.PartialAsync("Field",Model)
		@Html.DataModel(Model)
		<component type="typeof(Homework.Components.ShowWinner)" render-mode="Static" param-GameData="Model" />
		<component type="typeof(Homework.Components.ControlButtons)" render-mode="Static" />
	</form>
</div>
