@{
	ViewData["Title"] = "Регистрация игрока";
}
<style type="text/css">
	button {
		margin-top: 10px;
	}

</style>
<div class="text-center">
	<h1 class="display-4">Данные хочу </h1>
	<form method="post" asp-area="" asp-controller="Home" asp-action="Game">
		<label>Введите Имя игрока</label><br>
		<input type="text" name="Name" required /><br>
		<button>Начать игру</button>
	</form>
</div>
