@model LoginDataModel
@{
	ViewData["Title"] = "Ввод данных игрока";
}

<link rel="stylesheet" href="~/css/stylesIndex.css" />

<div class="text-center">
	<h1 class="display-4">Ввод данных игрока </h1>
	<form method="post" asp-area="" asp-controller="Home" asp-action="Index">
		<div asp-validation-summary="All" class="validete-file"></div>
		<label>Введите Имя игрока</label><br>
		<input name="PlayerName" asp-for="PlayerName" /><br>
		<button>Начать игру</button>
	</form>
</div>
