@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
	table {
		width: 30%;
		height: 100px;
		margin: auto;
	}

	tr, tb {
		width: 32%;
		height: 32px;
	}

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	button{
		margin-top:10px;
	}
</style>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<table>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<button title="Новая игра">Новая игра</button>
	<button title="Очистить">Очистить</button>
</div>
