
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.staticwebassets.runtime.json
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.pdb
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.dll
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.deps.json
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.dll
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.pdb
Homework1/Homework/Homework/bin/Debug/net7.0/Homework.staticwebassets.runtime.json
