@model FieldModel;

<link rel="stylesheet" href="~/css/stylesField.css" />

<table>
	@for (int rowCounter = 0; rowCounter < 3; rowCounter++)
	{
		<tr>
			@for (int columnCounter = 0; columnCounter < 3; columnCounter++)
			{
				<td>
					@{
						var currenId = rowCounter * 3 + columnCounter;
						@await Html.PartialAsync("../_Partial/Cell",Model.FieldGame[@currenId])
					}
				</td>
			}
		</tr>
	}
</table>

<input type="hidden" id="FieldString" value="@Model.FieldString" />