@model Observers;

@using Homework.HtmlHelpers

<div>
	<div>Налюдают сейчас за данной игрой</div>
	@Html.GetListName(Model.UserNameWatchersGame)
	@if (Model.UserNameWatchersGameLobby.Count > 0)
	{
		<div>Налюдают сейчас за игрой серез лобби</div>
		@Html.GetListName(Model.UserNameWatchersGameLobby)
	}
</div>