@using Homework.Models;

<button title="Обновить" id="WaitingPlayers" formaction="/Game/WaitingPlayers">Обновить</button>
<button title="Выбрать другой стол" formaction="/Game/AnotherTable">Выбрать другой стол</button>
@if (dataModel != null && dataModel.IsCurrentPlayerMove)
{
	<button title="Новая игра" formaction="/Game/RestartGame">Новая игра</button>
}
<button title="завершить игру" formaction="/Game/FinishGame">завершить игру</button>

@code {
	[Parameter]
	public GameDataModel? dataModel { set; get; }
}