<h3>@Winner</h3>

@using Homework.Models

@code {

	string Winner = "";

	protected override void OnInitialized()
	{
		switch (StaticGameDataModelcs.GameDataModel.Winner)
		{
			case 0:
				{
					Winner = "Ничья";
					break;
				}
			case 1:
				{
					Winner = Winner = $"Победил {StaticGameDataModelcs.GameDataModel.ListPlayer[0].Name}";
					break;
				}
			case 2:
				{
					Winner = Winner = $"Победил {StaticGameDataModelcs.GameDataModel.ListPlayer[1].Name}";
					break;
				}
			default:
				{
					Winner = "";
					break;
				}
		}
	}
}
