@{
	ViewData["IsJqueryEnabled"] = true;
	ViewData["Title"] = "Ожидание Играков";
}
<h1>Please, wait for other player to be connected ...</h1>

<form method="post" asp-area="" asp-controller="Home">
	<component type="typeof(Homework.Components.ControlButtons)" render-mode="Static" param-dataModel="null" />
</form>

<script src="~/js/NumberPlayersInGame.js"></script>

<script>
	runRequest(1)
</script>